@import url("https://fonts.googleapis.com/css?family=Inter");
@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-scott-grey-100: #424242;
	--color-scott-grey-200: #D9D9D9;
	--color-scott-grey-300: #ADADAD;
	--color-scott-red-100: #D4183D;

	--font-agsm-main: "Inter", serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #ffffff;
		--foreground: #171717;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
